openapi: 3.0.3
info:
  title: Novart SaaS Open API
  description: >
    Novart SaaS Open API 文档，所有接口路径以 `/openapi/v1/` 开头。


    **Base URL**：`https://www.adsturbo.ai/klian/novartapi`


    **认证**：除「用量查询」外，均使用 **HTTP Bearer**（RFC 6750）：请求头 `Authorization: Bearer
    <token>`，`<token>` 为在 [www.adsturbo.ai](https://www.adsturbo.ai) 控制台创建的 API
    Key。用量接口为站内会话鉴权，见该路径说明（不使用本 Bearer 方案）。


    **请求体**：`Content-Type: application/json`


    **成功响应**：HTTP 200，JSON 格式 `{ "ret": 1, "data": { "ent": <业务数据> } }`


    **业务错误**：HTTP 200，`ret` 不为 1 时见 `msg` 字段说明。
  version: 1.0.0
servers:
  - url: https://www.adsturbo.ai/klian/novartapi
    description: API 服务地址
tags:
  - name: Image
    description: 图片创作
  - name: AiActor
    description: 系统演员
  - name: Persona
    description: 自定义 Persona
  - name: AdClone
    description: 视频复刻 AdClone
  - name: Work
    description: 异步任务状态
  - name: Storage
    description: 文件上传
  - name: Usage
    description: 用量查询
security:
  - bearerAuth: []
paths:
  /openapi/v1/img/create:
    post:
      tags:
        - Image
      summary: 用户创作图片
      operationId: saasImageCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageCreateBody'
            examples:
              basic:
                summary: 基本示例
                value:
                  prompt: 生成一个亚洲小朋友，骑着一只泰迪狗，狗有翅膀，动漫类型
                  model: nanobanana-pro
                  image_urls: []
                  ratio: '9:16'
                  resolution: 2k
                  concurrency: 1
                  sync_mod: false
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessImageCreateEnt'
  /openapi/v1/aiactor/list:
    post:
      tags:
        - AiActor
      summary: 系统演员列表
      operationId: openAiActorList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAiActorListBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenAiActorListEnt'
  /openapi/v1/aiactor/say:
    post:
      tags:
        - AiActor
      summary: 系统演员语音生成
      operationId: openAiActorSay
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAiActorSayBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenAiActorSayEnt'
  /openapi/v1/aiactor/perform:
    post:
      tags:
        - AiActor
        - Persona
      summary: 演员演出（系统演员或 Persona）
      description: |
        `actor_id` 既可为系统演员 ID，也可为自定义 Persona 的 `actor_id`，共用同一套演出参数与异步任务响应。
      operationId: openAiActorPerform
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAiActorPerformBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenWorkEnt'
  /openapi/v1/persona/create:
    post:
      tags:
        - Persona
      summary: 创建自定义 Persona
      operationId: openPersonaCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenPersonaCreateBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenPersonaEnt'
  /openapi/v1/persona/delete:
    post:
      tags:
        - Persona
      summary: 删除自定义 Persona
      operationId: openPersonaDelete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenPersonaDeleteBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenPersonaDeleteEnt'
  /openapi/v1/persona/list:
    post:
      tags:
        - Persona
      summary: 个人创建演员列表
      description: |
        分页查询当前用户创建的个人演员（Persona）列表。
      operationId: openPersonalList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenPersonalListBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenPersonalListEnt'
  /openapi/v1/adclone/analyze:
    post:
      tags:
        - AdClone
      summary: 视频复刻 — 分析
      operationId: openAdCloneAnalyze
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAdCloneAnalyzeBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenAdCloneAnalyzeEnt'
  /openapi/v1/adclone/generate:
    post:
      tags:
        - AdClone
      summary: 视频复刻 — 生成
      operationId: openAdCloneGenerate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAdCloneGenerateBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenWorkEnt'
  /openapi/v1/work/status:
    post:
      tags:
        - Work
      summary: 查询异步任务状态
      operationId: openGetWorkStatus
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenGetWorkStatusBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenWorkEnt'
  /openapi/v1/persona/status:
    post:
      tags:
        - Persona
      summary: 查询 Persona 状态
      operationId: openGetPersonaStatus
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenGetPersonaStatusBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenPersonaEnt'
  /openapi/v1/storage/upload/once:
    post:
      tags:
        - Storage
      summary: 文件上传
      description: >
        通用文件上传接口。请求体为 `multipart/form-data`，包含 `data`（文件）和 `json`（JSON
        参数字符串）两个字段。

        当 `storagetype = 1` 时使用大文件上传通道，其余走普通上传。
      operationId: storageUploadOnce
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/StorageUploadOnceForm'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiStorageUploadOnceResp'
  /openapi/v1/storage/upload/once/pic:
    post:
      tags:
        - Storage
      summary: 图片上传
      description: |
        上传图片文件，服务端自动存储原图并生成 400×400 自适应裁剪缩略图，响应同时返回原图与缩略图信息。
        请求体为 `multipart/form-data`，包含 `data`（图片文件）和 `json`（JSON 参数字符串）两个字段。
      operationId: storageUploadOncePic
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/StorageUploadOncePicForm'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiStorageUploadOncePicResp'
  /openapi/v1/storage/upload/onceaudio/notrans:
    post:
      tags:
        - Storage
      summary: 音频上传（不转码）
      description: |
        上传音频文件，不做转码处理，直接存储原始音频。
        请求体为 `multipart/form-data`，包含 `data`（音频文件）和 `json`（JSON 参数字符串）两个字段。
      operationId: storageUploadOnceAudioNotrans
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/StorageUploadOnceAudioForm'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiStorageUploadOnceResp'
  /openapi/v1/usage:
    post:
      tags:
        - Usage
      summary: 用量查询
      description: |
        站内登录会话鉴权。**不要**携带 `Authorization: Bearer ...`；请求体需含会话 `token` 及标准头字段。
      operationId: openGetUsage
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenGetUsageBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenUsageEnt'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: >
        在 [www.adsturbo.ai](https://www.adsturbo.ai)
        控制台创建的密钥。调用时在请求头设置：`Authorization: Bearer <your_api_key>`。
  schemas:
    ImageCreateBody:
      type: object
      description: >
        图片生成或编辑。`model` 为模型短名称，省略时服务端默认 `nanobanana-pro`。

        文生图：`image_urls` 为空；图片编辑：`image_urls` 非空。

        `seedream-*-seq`、`grok-imagine-image` 仅支持编辑；`grok-2-image`
        仅支持文生图；其余以服务端校验为准。
      properties:
        prompt:
          type: string
          description: 文生图提示词
        image_urls:
          type: array
          items:
            type: string
          description: |
            文生图时为空数组；编辑时非空。
        model:
          type: string
          example: nanobanana-pro
          description: >
            可选。默认等价 `nanobanana-pro`。可选值（完整列表）：nanobanana-pro | nano-banana-2 |
            nano-banana-2-fast | seedream-4.5 | seedream-4.5-seq |
            seedream-5.0-lite | seedream-5.0-lite-seq | gpt-image-1.5 |
            grok-2-image | grok-imagine-image
        ratio:
          type: string
          example: '9:16'
        resolution:
          type: string
          example: 2k
        concurrency:
          type: integer
          format: int32
          description: 并发数，控制一次性输出的结果数量
          example: 1
        sync_mod:
          type: boolean
          example: false
    OpenAiActorListBody:
      type: object
      description: 系统演员列表筛选与分页；筛选项为小写，英文短语中空格用连字符。
      properties:
        gender:
          type: array
          items:
            type: string
            enum:
              - female
              - male
        age:
          type: array
          items:
            type: string
            enum:
              - senior
              - adult
              - young-adult
              - kid
        situation:
          type: array
          items:
            type: string
            enum:
              - balcony
              - beach
              - bedroom
              - car
              - coffee-shop
              - grwm
              - home
              - kitchen
              - medical
              - news-anchor
              - office
              - podcast
              - snow
              - studio
        sort_by:
          type: string
        offset:
          type: integer
          format: int32
        limit:
          type: integer
          format: int32
        pose:
          type: array
          items:
            type: string
            enum:
              - arms-crossed
              - cross-legged
              - gesturing
              - leaning
              - leaning-forward
              - legs-crossed
              - pointing
              - reclining
              - sitting
              - standing
        shot_type:
          type: array
          items:
            type: string
            enum:
              - close-up
              - full-shot
              - long-shot
              - medium-close-up
              - medium-full-shot
              - medium-shot
    OpenAiActorSayBody:
      type: object
      description: 系统演员语音合成请求。
      properties:
        actor_id:
          type: string
        script:
          type: string
        auto_emotion:
          type: boolean
        speed:
          type: number
          format: float
        stability:
          type: number
          format: float
        similarity:
          type: number
          format: float
    OpenAiActorPerformBody:
      type: object
      description: 演出任务请求；适用于系统演员与自定义 Persona。
      properties:
        script:
          type: string
        actor_id:
          type: string
          description: 系统演员 ID，或 Persona 的 actor_id
        auto_emotion:
          type: boolean
        speed:
          type: number
          format: float
        stability:
          type: number
          format: float
        style:
          type: number
          format: float
        speaker_boost:
          type: boolean
        similarity:
          type: number
          format: float
        callback_id:
          type: string
          description: 自定义追踪 ID，webhook URL 后台配置
    OpenPersonaCreateBody:
      type: object
      description: 创建自定义 Persona 请求。
      properties:
        photo_url:
          type: string
        voice_audio_url:
          type: string
          description: 可选，用于语音克隆
        name:
          type: string
        callback_id:
          type: string
          description: 自定义追踪 ID，webhook URL 后台配置
    OpenPersonaDeleteBody:
      type: object
      description: 删除 Persona 请求。
      properties:
        actor_id:
          type: string
    OpenPersonalListBody:
      type: object
      description: 个人创建演员列表分页查询；`offset`、`limit` 为分页参数。
      properties:
        offset:
          type: integer
          format: int32
        limit:
          type: integer
          format: int32
    OpenPersonalListData:
      type: object
      description: 个人创建演员列表及分页信息。
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/OpenPersonaData'
        offset:
          type: integer
          format: int32
        more:
          type: boolean
        total:
          type: integer
          format: int32
    OpenAdCloneAnalyzeBody:
      type: object
      description: 视频复刻 — 分析源视频并生成 prompt。
      properties:
        video_url:
          type: string
          description: 源视频 URL
        clip_start:
          type: integer
          format: int32
          minimum: 0
          description: 圈选起始时间（秒，非负）
        clip_end:
          type: integer
          format: int32
          minimum: 0
          description: >-
            圈选结束时间（秒）；须 clip_end > clip_start，且 clip_end - clip_start ≤ 12（片段最长
            12 秒）
    OpenAdCloneGenerateBody:
      type: object
      description: 视频复刻 — 提交生成任务；响应含异步任务 ID（`workspace_id`）。
      properties:
        prompt:
          type: string
          description: prompt（可在 Analyze 返回基础上修改）
        video_url:
          type: string
          description: 源视频片段 URL（Analyze 返回的 video_segment_url）
        concurrent:
          type: integer
          format: int32
          minimum: 1
          description: 并发生成数量（≥1）
        callback_id:
          type: string
          description: 自定义追踪 ID，webhook URL 后台配置
    OpenGetWorkStatusBody:
      type: object
      description: 按 `workspace_id` 查询异步任务状态。
      properties:
        workspace_id:
          type: string
    OpenGetPersonaStatusBody:
      type: object
      description: 按 `actor_id` 查询 Persona 状态。
      properties:
        actor_id:
          type: string
    OpenGetUsageBody:
      type: object
      description: 用量分页与可选时间区间筛选。
      properties:
        offset:
          type: integer
          format: int32
        limit:
          type: integer
          format: int32
        timestamps:
          type: array
          items:
            type: integer
            format: int64
          description: >
            可选。秒级 Unix 时间戳；非空时取 [min,max] 作为时间区间——明细筛该区间；statistic
            对该区间内每个日历日聚合。空则明细不筛、statistic 为最近 7 天。
    ImageCreateData:
      type: object
      description: 图片生成结果（图片 URL 与关联任务 ID）。
      properties:
        images:
          type: array
          items:
            type: string
        workspace_ids:
          type: array
          items:
            type: string
    OpenAiActorSayData:
      type: object
      description: 语音合成结果。
      properties:
        audio_url:
          type: string
        duration:
          type: integer
          format: int32
    OpenAiActorListData:
      type: object
      description: 系统演员列表与分页信息。
      properties:
        infos:
          type: array
          items:
            $ref: '#/components/schemas/OpenAiActorInfo'
        offset:
          type: integer
          format: int32
        more:
          type: boolean
        total:
          type: integer
          format: int32
    OpenAdCloneAnalyzeData:
      type: object
      description: 视频复刻分析结果。
      properties:
        prompt:
          type: string
          description: AI 分析生成的文生视频 prompt
        video_segment_url:
          type: string
          description: 截取的视频片段 URL
        duration:
          type: integer
          enum:
            - 4
            - 8
            - 12
          description: 片段时长（秒），仅允许 4、8、12
    OpenPersonaDeleteData:
      type: object
      description: 删除操作是否成功。
      properties:
        ok:
          type: boolean
    OpenWorkData:
      type: object
      description: 异步任务状态与结果摘要。
      properties:
        workspace_id:
          type: string
        status:
          type: string
          description: pending / processing / completed / failed
        callback_id:
          type: string
        result_type:
          type: string
          enum:
            - video
            - image
            - audio
            - text
            - structured
        result_url:
          type: string
        thumbnail_url:
          type: string
        duration:
          type: number
          format: float
        message:
          type: string
        created_at:
          type: integer
          format: int64
    OpenPersonaData:
      type: object
      description: 自定义 Persona 信息。
      properties:
        actor_id:
          type: string
        status:
          type: string
          description: pending / processing / completed / failed
        callback_id:
          type: string
        name:
          type: string
        photo_url:
          type: string
        voice_url:
          type: string
        preview_image_url:
          type: string
        preview_video_url:
          type: string
        voices:
          type: array
          items:
            $ref: '#/components/schemas/AiActorVoiceOption'
        message:
          type: string
        created_at:
          type: integer
          format: int64
    OpenUsageItem:
      type: object
      properties:
        biz_type:
          type: string
          description: 业务类型：ad_clone, ai_actor, promo_video 等
        amount:
          type: number
          format: float
          description: 积分数
        timestamp:
          type: integer
          format: int64
        remark:
          type: string
        direction:
          type: string
        api_key:
          type: string
          description: 触发来源的 API Key 标识（空=Web 端）
    OpenUsageByDay:
      type: object
      description: 按日历日汇总的用量。
      properties:
        date:
          type: string
        amount:
          type: integer
          format: int32
    OpenUsageData:
      type: object
      description: 剩余积分、用量明细与按日统计。
      properties:
        has_more:
          type: boolean
        remaining_credits:
          type: integer
          format: int32
          description: 剩余积分
        used_credits:
          type: integer
          format: int32
          description: 已使用积分
        items:
          type: array
          items:
            $ref: '#/components/schemas/OpenUsageItem'
        statistic:
          type: array
          items:
            $ref: '#/components/schemas/OpenUsageByDay'
          description: 按天消耗；请求带 timestamps 时为该区间内每日，否则最近 7 日
    ApiSuccessImageCreateEnt:
      type: object
      required:
        - ret
      properties:
        ret:
          type: integer
          example: 1
        msg:
          type: string
        data:
          type: object
          properties:
            ent:
              $ref: '#/components/schemas/ImageCreateData'
    ApiSuccessOpenAiActorListEnt:
      type: object
      required:
        - ret
      properties:
        ret:
          type: integer
          example: 1
        msg:
          type: string
        data:
          type: object
          properties:
            ent:
              $ref: '#/components/schemas/OpenAiActorListData'
    ApiSuccessOpenAiActorSayEnt:
      type: object
      required:
        - ret
      properties:
        ret:
          type: integer
          example: 1
        msg:
          type: string
        data:
          type: object
          properties:
            ent:
              $ref: '#/components/schemas/OpenAiActorSayData'
    ApiSuccessOpenWorkEnt:
      type: object
      required:
        - ret
      properties:
        ret:
          type: integer
          example: 1
        msg:
          type: string
        data:
          type: object
          properties:
            ent:
              $ref: '#/components/schemas/OpenWorkData'
    ApiSuccessOpenPersonaEnt:
      type: object
      required:
        - ret
      properties:
        ret:
          type: integer
          example: 1
        msg:
          type: string
        data:
          type: object
          properties:
            ent:
              $ref: '#/components/schemas/OpenPersonaData'
    ApiSuccessOpenPersonaDeleteEnt:
      type: object
      required:
        - ret
      properties:
        ret:
          type: integer
          example: 1
        msg:
          type: string
        data:
          type: object
          properties:
            ent:
              $ref: '#/components/schemas/OpenPersonaDeleteData'
    ApiSuccessOpenPersonalListEnt:
      type: object
      required:
        - ret
      properties:
        ret:
          type: integer
          example: 1
        msg:
          type: string
        data:
          type: object
          properties:
            ent:
              $ref: '#/components/schemas/OpenPersonalListData'
    ApiSuccessOpenAdCloneAnalyzeEnt:
      type: object
      required:
        - ret
      properties:
        ret:
          type: integer
          example: 1
        msg:
          type: string
        data:
          type: object
          properties:
            ent:
              $ref: '#/components/schemas/OpenAdCloneAnalyzeData'
    ApiSuccessOpenUsageEnt:
      type: object
      required:
        - ret
      properties:
        ret:
          type: integer
          example: 1
        msg:
          type: string
        data:
          type: object
          properties:
            ent:
              $ref: '#/components/schemas/OpenUsageData'
    OpenAiActorInfo:
      type: object
      description: 系统演员信息
      properties:
        id:
          type: integer
          format: int64
        hired_at:
          type: integer
          format: int64
          description: 雇佣时间（Unix 秒）
        actor_id:
          type: string
          description: 演员 ID（uuid）
        name:
          type: string
          description: 名字
        age:
          type: string
          description: 年龄标签
        gender:
          type: string
          description: 性别
        situation:
          type: array
          items:
            type: string
          description: 场景
        pose:
          type: string
        shot_type:
          type: string
        skin_tone:
          type: string
          description: 肤色编码，取值 skin-001 ~ skin-006
        accessories:
          type: array
          items:
            type: string
          description: 物品
        special_for:
          type: array
          items:
            type: string
          description: 订阅用户分级别专属
        preview_url:
          type: string
          description: 前端预览图片 URL（已压缩）
        photo_url:
          type: string
          description: 具体要使用的图片模板 URL
        original_show_off_url:
          type: string
          description: 前端展示视频 URL（原始）
        show_off_url:
          type: string
          description: 前端展示视频 URL（已压缩）
        light:
          type: string
          description: 灯光设定
        audition_audio_url:
          type: string
          description: 试镜音频链接
        score:
          type: integer
          format: int32
          minimum: 0
          maximum: 100
          description: 演员评分，满分 100
        status:
          type: string
        voices:
          type: array
          items:
            $ref: '#/components/schemas/AiActorVoiceOption'
    AiActorVoiceOption:
      type: object
      description: 演员语音选项
      properties:
        voice_id:
          type: string
        voice_url:
          type: string
        voice_description:
          type: string
        source:
          type: string
    StorageUploadOnceForm:
      type: object
      description: 通用文件上传表单
      properties:
        data:
          type: string
          format: binary
          description: 上传的文件
        json:
          type: string
          description: |
            JSON 字符串，字段如下：
            - `busstype` (string, 必填): 业务类型
            - `storagetype` (int, 可选): 存储类型，1=大文件上传，其他=普通上传
            - `action` (int, 可选): 操作类型
            - `h_src` (int, 可选): 来源
            - `h_lc` (string, 可选): 语言代码
          example: '{"busstype":"avatar","storagetype":0}'
      required:
        - data
        - json
    StorageUploadOncePicForm:
      type: object
      description: 图片上传表单
      properties:
        data:
          type: string
          format: binary
          description: 上传的图片文件
        json:
          type: string
          description: |
            JSON 字符串，字段如下：
            - `busstype` (string, 必填): 业务类型
            - `h_src` (int, 可选): 来源
            - `h_lc` (string, 可选): 语言代码
          example: '{"busstype":"avatar"}'
      required:
        - data
        - json
    StorageUploadOnceAudioForm:
      type: object
      description: 音频上传表单（不转码）
      properties:
        data:
          type: string
          format: binary
          description: 上传的音频文件
        json:
          type: string
          description: |
            JSON 字符串，字段如下：
            - `busstype` (string, 必填): 业务类型
            - `format` (string, 可选): 音频格式
            - `trans_format` (int, 可选): 转码格式
            - `h_src` (int, 可选): 来源
            - `h_lc` (string, 可选): 语言代码
          example: '{"busstype":"voice","format":"mp3"}'
      required:
        - data
        - json
    StorageUploadData:
      type: object
      description: 文件/音频上传成功返回数据
      properties:
        uri:
          type: string
          description: 文件 URI
        md5:
          type: string
          description: 文件 MD5
        url:
          type: string
          description: 文件访问 URL
        meta:
          type: object
          description: 媒体元信息（可选）
    StorageUploadPicData:
      type: object
      description: 图片上传成功返回数据（原图 + 缩略图）
      properties:
        origin:
          type: object
          description: 原图信息
          properties:
            url:
              type: string
            md5:
              type: string
            w:
              type: integer
              description: 宽度（像素）
            h:
              type: integer
              description: 高度（像素）
        tiny:
          type: object
          description: 缩略图信息（400×400 自适应裁剪）
          properties:
            url:
              type: string
            md5:
              type: string
            w:
              type: integer
              description: 宽度（像素）
            h:
              type: integer
              description: 高度（像素）
    ApiStorageUploadOnceResp:
      type: object
      description: 文件/音频上传响应
      required:
        - ret
      properties:
        ret:
          type: integer
          example: 1
        msg:
          type: string
        data:
          $ref: '#/components/schemas/StorageUploadData'
    ApiStorageUploadOncePicResp:
      type: object
      description: 图片上传响应
      required:
        - ret
      properties:
        ret:
          type: integer
          example: 1
        msg:
          type: string
        data:
          $ref: '#/components/schemas/StorageUploadPicData'
