openapi: 3.0.3
info:
  title: Novart SaaS Open API
  description: >
    Novart SaaS Open API 文档，所有接口路径以 `/openapi/v1/` 开头。


    **Base URL**：`https://www.adsturbo.ai/klian/novartapi`


    **认证**：所有请求须在请求头携带 Bearer Token。Token 可在
    [www.adsturbo.ai](https://www.adsturbo.ai) 控制台中手动创建。请求头格式：`Authorization:
    Bearer <your-token>`


    **请求体**：`Content-Type: application/json`


    **成功响应**：HTTP 200，JSON 格式 `{ "ret": 1, "data": { "ent": <业务数据> } }`


    **业务错误**：HTTP 200，`ret` 不为 1 时见 `msg` 字段说明。
  version: 1.0.0
servers:
  - url: https://www.adsturbo.ai/klian/novartapi
    description: API 服务地址
tags:
  - name: AiActor
    description: 系统演员
  - name: Persona
    description: 自定义 Persona
  - name: AdClone
    description: 视频复刻 AdClone
  - name: Work
    description: 异步任务状态
security:
  - BearerAuth: []
paths:
  /openapi/v1/aiactor/list:
    post:
      tags:
        - AiActor
      summary: 系统演员列表
      operationId: openAiActorList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAiActorListBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenAiActorListEnt'
  /openapi/v1/aiactor/say:
    post:
      tags:
        - AiActor
      summary: 系统演员语音生成
      operationId: openAiActorSay
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAiActorSayBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenAiActorSayEnt'
  /openapi/v1/aiactor/perform:
    post:
      tags:
        - AiActor
      summary: 系统演员演出
      operationId: openAiActorPerform
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAiActorPerformBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenWorkEnt'
  /openapi/v1/personal/create:
    post:
      tags:
        - Persona
      summary: 创建自定义 Persona
      operationId: openPersonaCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenPersonaCreateBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenPersonaEnt'
  /openapi/v1/personal/delete:
    post:
      tags:
        - Persona
      summary: 删除自定义 Persona
      operationId: openPersonaDelete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenPersonaDeleteBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenPersonaDeleteEnt'
  /openapi/v1/personal/list:
    post:
      tags:
        - Persona
      summary: 个人创建演员列表
      description: >
        对应 proto `OpenPersonalList`：个人创建演员（`novart_actor_from_user`）。分页返回
        `OpenPersonaData` 列表。

        请求体中的 `api_key` / `uid` / `owner_uid` 可与网关填充的身份字段一并省略（由 SaaS 网关注入）。
      operationId: openPersonalList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenPersonalListBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenPersonalListEnt'
  /openapi/v1/adclone/analyze:
    post:
      tags:
        - AdClone
      summary: 视频复刻 — 分析
      operationId: openAdCloneAnalyze
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAdCloneAnalyzeBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenAdCloneAnalyzeEnt'
  /openapi/v1/adclone/generate:
    post:
      tags:
        - AdClone
      summary: 视频复刻 — 生成
      operationId: openAdCloneGenerate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAdCloneGenerateBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenWorkEnt'
  /openapi/v1/work/status:
    post:
      tags:
        - Work
      summary: 查询异步任务状态
      operationId: openGetWorkStatus
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenGetWorkStatusBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenWorkEnt'
  /openapi/v1/personal/status:
    post:
      tags:
        - Persona
      summary: 查询 Persona 状态
      operationId: openGetPersonaStatus
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenGetPersonaStatusBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenPersonaEnt'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: >
        Bearer Token 认证，必填。Token 可在 [www.adsturbo.ai](https://www.adsturbo.ai)
        控制台中创建。请求头格式：`Authorization: Bearer <your-token>`
  schemas:
    OpenAiActorListBody:
      type: object
      description: >
        对应 proto `OpenAiActorListReq`。筛选项传入值为**小写**；英文短语中空格转为连字符 `-`。

        Age：senior, adult, young-adult, kid

        Gender：female, male

        Situation：balcony, beach, bedroom, car, coffee-shop, grwm, home,
        kitchen, medical, news-anchor, office, podcast, snow, studio

        Pose：arms-crossed, cross-legged, gesturing, leaning, leaning-forward,
        legs-crossed, pointing, reclining, sitting, standing

        Shot type：close-up, full-shot, long-shot, medium-close-up,
        medium-full-shot, medium-shot
      properties:
        gender:
          type: array
          items:
            type: string
        age:
          type: array
          items:
            type: string
        situation:
          type: array
          items:
            type: string
        sort_by:
          type: string
        offset:
          type: integer
          format: int32
        limit:
          type: integer
          format: int32
        pose:
          type: array
          items:
            type: string
        shot_type:
          type: array
          items:
            type: string
    OpenAiActorSayBody:
      type: object
      description: >-
        对应 proto `OpenAiActorSayReq`。`api_key` / `uid` / `owner_uid` 可由 SaaS
        网关填充。
      properties:
        actor_id:
          type: string
        script:
          type: string
        auto_emotion:
          type: boolean
        speed:
          type: number
          format: float
        stability:
          type: number
          format: float
        similarity:
          type: number
          format: float
    OpenAiActorPerformBody:
      type: object
      description: >-
        对应 proto `OpenAiActorPerformReq`。异步任务，返回 `OpenWorkData`（含
        `workspace_id`）。
      properties:
        script:
          type: string
        actor_id:
          type: string
        auto_emotion:
          type: boolean
        speed:
          type: number
          format: float
        stability:
          type: number
          format: float
        style:
          type: number
          format: float
        speaker_boost:
          type: boolean
        similarity:
          type: number
          format: float
        callback_id:
          type: string
          description: 自定义追踪 ID，webhook URL 后台配置
    OpenPersonaCreateBody:
      type: object
      description: 对应 proto `OpenPersonaCreateReq`。
      properties:
        photo_url:
          type: string
        voice_audio_url:
          type: string
          description: 可选（optional），用于语音克隆
        name:
          type: string
        callback_id:
          type: string
          description: 自定义追踪 ID，webhook URL 后台配置
    OpenPersonaDeleteBody:
      type: object
      description: 对应 proto `OpenPersonaDeleteReq`。
      properties:
        actor_id:
          type: string
    OpenPersonalListBody:
      type: object
      description: >
        对应 proto `OpenPersonalListReq`：个人创建演员（novart_actor_from_user）。`offset` /
        `limit` 为分页；`api_key` / `uid` / `owner_uid` 可由 SaaS 网关填充。
      properties:
        offset:
          type: integer
          format: int32
        limit:
          type: integer
          format: int32
    OpenPersonalListData:
      type: object
      description: 对应 proto `OpenPersonalListData`。
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/OpenPersonaData'
        offset:
          type: integer
          format: int32
        more:
          type: boolean
        total:
          type: integer
          format: int32
    OpenAdCloneAnalyzeBody:
      type: object
      description: 对应 proto `OpenAdCloneAnalyzeReq`。
      properties:
        video_url:
          type: string
          description: 源视频 URL
        clip_start:
          type: integer
          format: int32
          description: 圈选起始时间（秒）
        clip_end:
          type: integer
          format: int32
          description: 圈选结束时间（秒），clip_end - clip_start <= 12
    OpenAdCloneGenerateBody:
      type: object
      description: 对应 proto `OpenAdCloneGenerateReq`。响应为 `OpenWorkData`（含 `workspace_id`）。
      properties:
        prompt:
          type: string
          description: prompt（可在 Analyze 返回基础上修改）
        video_url:
          type: string
          description: 源视频片段 URL（Analyze 返回的 video_segment_url）
        concurrent:
          type: integer
          format: int32
          description: 并发生成数量
        callback_id:
          type: string
          description: 自定义追踪 ID，webhook URL 后台配置
    OpenGetWorkStatusBody:
      type: object
      description: 对应 proto `OpenGetWorkStatusReq`。
      properties:
        workspace_id:
          type: string
    OpenGetPersonaStatusBody:
      type: object
      description: 对应 proto `OpenGetPersonaStatusReq`。
      properties:
        actor_id:
          type: string
    OpenAiActorSayData:
      type: object
      properties:
        audio_url:
          type: string
        duration:
          type: integer
          format: int32
    OpenAiActorListData:
      type: object
      properties:
        infos:
          type: array
          items:
            $ref: '#/components/schemas/AiActorInfo'
        offset:
          type: integer
          format: int32
        more:
          type: boolean
        total:
          type: integer
          format: int32
    OpenAdCloneAnalyzeData:
      type: object
      properties:
        prompt:
          type: string
          description: AI 分析生成的文生视频 prompt
        video_segment_url:
          type: string
          description: 截取的视频片段 URL
        duration:
          type: number
          format: float
          description: 片段时长（秒）
    OpenPersonaDeleteData:
      type: object
      properties:
        ok:
          type: boolean
    OpenWorkData:
      type: object
      description: 对应 proto `OpenWorkData`。异步任务结果摘要。
      properties:
        workspace_id:
          type: string
        status:
          type: string
          description: pending / processing / completed / failed
        callback_id:
          type: string
        result_type:
          type: string
          description: >
            与 novart_workspace_entry.result_type 一致：1=video 2=image 3=audio
            4=text 5=structured；对外字符串为小写枚举名："video" | "image" | "audio" | "text"
            | "structured"
        result_url:
          type: string
        thumbnail_url:
          type: string
        duration:
          type: number
          format: float
        message:
          type: string
        created_at:
          type: integer
          format: int64
    OpenPersonaData:
      type: object
      description: 对应 proto `OpenPersonaData` 自定义 Persona。
      properties:
        actor_id:
          type: string
        status:
          type: string
          description: pending / processing / completed / failed
        callback_id:
          type: string
        name:
          type: string
        photo_url:
          type: string
        voice_id:
          type: string
        voice_url:
          type: string
        preview_image_url:
          type: string
        preview_video_url:
          type: string
        voices:
          type: array
          items:
            $ref: '#/components/schemas/AiActorVoiceOption'
        message:
          type: string
        created_at:
          type: integer
          format: int64
    ApiSuccessOpenAiActorListEnt:
      type: object
      required:
        - ret
      properties:
        ret:
          type: integer
          example: 1
        msg:
          type: string
        data:
          type: object
          properties:
            ent:
              $ref: '#/components/schemas/OpenAiActorListData'
    ApiSuccessOpenAiActorSayEnt:
      type: object
      required:
        - ret
      properties:
        ret:
          type: integer
          example: 1
        msg:
          type: string
        data:
          type: object
          properties:
            ent:
              $ref: '#/components/schemas/OpenAiActorSayData'
    ApiSuccessOpenWorkEnt:
      type: object
      required:
        - ret
      properties:
        ret:
          type: integer
          example: 1
        msg:
          type: string
        data:
          type: object
          properties:
            ent:
              $ref: '#/components/schemas/OpenWorkData'
    ApiSuccessOpenPersonaEnt:
      type: object
      required:
        - ret
      properties:
        ret:
          type: integer
          example: 1
        msg:
          type: string
        data:
          type: object
          properties:
            ent:
              $ref: '#/components/schemas/OpenPersonaData'
    ApiSuccessOpenPersonaDeleteEnt:
      type: object
      required:
        - ret
      properties:
        ret:
          type: integer
          example: 1
        msg:
          type: string
        data:
          type: object
          properties:
            ent:
              $ref: '#/components/schemas/OpenPersonaDeleteData'
    ApiSuccessOpenPersonalListEnt:
      type: object
      required:
        - ret
      properties:
        ret:
          type: integer
          example: 1
        msg:
          type: string
        data:
          type: object
          properties:
            ent:
              $ref: '#/components/schemas/OpenPersonalListData'
    ApiSuccessOpenAdCloneAnalyzeEnt:
      type: object
      required:
        - ret
      properties:
        ret:
          type: integer
          example: 1
        msg:
          type: string
        data:
          type: object
          properties:
            ent:
              $ref: '#/components/schemas/OpenAdCloneAnalyzeData'
    AiActorInfo:
      type: object
      description: 系统演员信息
      properties:
        actor_id:
          type: string
        name:
          type: string
        age:
          type: string
        gender:
          type: string
        situation:
          type: array
          items:
            type: string
        pose:
          type: string
        shot_type:
          type: string
        skin_tone:
          type: string
        accessories:
          type: array
          items:
            type: string
        voice_id:
          type: string
        special_for:
          type: array
          items:
            type: string
        preview_url:
          type: string
        photo_url:
          type: string
        show_off_url:
          type: string
        light:
          type: string
        audition_audio_url:
          type: string
        score:
          type: integer
          format: int32
        favourite:
          type: boolean
        status:
          type: string
        voices:
          type: array
          items:
            $ref: '#/components/schemas/AiActorVoiceOption'
    AiActorVoiceOption:
      type: object
      description: 演员语音选项
      properties:
        voice_id:
          type: string
        voice_url:
          type: string
        voice_description:
          type: string
        source:
          type: string
