openapi: 3.0.3
info:
  title: AdsTurbo Open API
  description: >
    AdsTurbo Open API documentation. All endpoints are under `/openapi/v1/`.


    **Chinese version**: [查看中文 API 文档](/reference/zh-api-overview)


    **Base URL**: `https://www.adsturbo.ai/klian/novartapi`


    **Authentication**: Use **HTTP Bearer** (RFC 6750). Send `Authorization:
    Bearer <token>`, where `<token>` is the API key created in the [AdsTurbo
    console](https://www.adsturbo.ai).


    **Request body**: `Content-Type: application/json`


    **Success response**: HTTP 200 with `{ "ret": 1, "data": { "ent": <business
    data> } }`


    **Business errors**: HTTP 200 may still contain `ret` other than `1`. Read
    `msg` for the error reason.
  version: 1.0.0
servers:
  - url: https://www.adsturbo.ai/klian/novartapi
    description: API base URL
tags:
  - name: Image
    description: Image creation and editing
  - name: AiActor
    description: System actor workflows
  - name: Persona
    description: Custom Persona workflows
  - name: AdClone
    description: AdClone video recreation
  - name: Video
    description: Video generation and editing tools
  - name: Work
    description: Async task status
security:
  - bearerAuth: []
paths:
  /openapi/v1/img/create:
    post:
      tags:
        - Image
      summary: Create or edit images
      operationId: saasImageCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageCreateBody'
            examples:
              basic:
                summary: Basic example
                value:
                  prompt: Create an anime-style Asian child riding a winged teddy dog
                  model: nanobanana-pro
                  image_urls: []
                  ratio: '9:16'
                  resolution: 2k
                  concurrency: 1
                  sync_mod: false
      responses:
        '200':
          description: JSON business response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessImageCreateEnt'
      description: >-
        > 中文版本: [查看中文文档](/reference/zhsaasimagecreate)


        Create a new image from a text prompt, or edit one or more input images
        depending on the selected model.
  /openapi/v1/aiactor/list:
    post:
      tags:
        - AiActor
      summary: List system actors
      operationId: openAiActorList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAiActorListBody'
      responses:
        '200':
          description: JSON business response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenAiActorListEnt'
      description: |-
        > 中文版本: [查看中文文档](/reference/zhopenaiactorlist)

        Return available system actors with optional filters and pagination.
  /openapi/v1/aiactor/say:
    post:
      tags:
        - AiActor
      summary: Generate system actor speech
      operationId: openAiActorSay
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAiActorSayBody'
      responses:
        '200':
          description: JSON business response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenAiActorSayEnt'
      description: |-
        > 中文版本: [查看中文文档](/reference/zhopenaiactorsay)

        Generate speech audio with a system actor voice.
  /openapi/v1/aiactor/perform:
    post:
      tags:
        - AiActor
        - Persona
      summary: Generate an actor performance
      description: >-
        > 中文版本: [查看中文文档](/reference/zhopenaiactorperform)


        `actor_id` may be either a system actor ID or a custom Persona
        `actor_id`. Both use the same performance parameters and async task
        response.
      operationId: openAiActorPerform
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAiActorPerformBody'
      responses:
        '200':
          description: JSON business response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenWorkEnt'
  /openapi/v1/persona/create:
    post:
      tags:
        - Persona
      summary: Create a custom Persona
      operationId: openPersonaCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenPersonaCreateBody'
      responses:
        '200':
          description: JSON business response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenPersonaEnt'
      description: |-
        > 中文版本: [查看中文文档](/reference/zhopenpersonacreate)

        Create a custom Persona from a portrait image and optional voice sample.
  /openapi/v1/persona/delete:
    post:
      tags:
        - Persona
      summary: Delete a custom Persona
      operationId: openPersonaDelete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenPersonaDeleteBody'
      responses:
        '200':
          description: JSON business response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenPersonaDeleteEnt'
      description: |-
        > 中文版本: [查看中文文档](/reference/zhopenpersonadelete)

        Delete a custom Persona owned by the current API key.
  /openapi/v1/persona/list:
    post:
      tags:
        - Persona
      summary: List personal actors
      description: |-
        > 中文版本: [查看中文文档](/reference/zhopenpersonallist)

        List custom Personas created by the current user with pagination.
      operationId: openPersonalList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenPersonalListBody'
      responses:
        '200':
          description: JSON business response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenPersonalListEnt'
  /openapi/v1/adclone/analyze:
    post:
      tags:
        - AdClone
      summary: Analyze an ad video
      operationId: openAdCloneAnalyze
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAdCloneAnalyzeBody'
      responses:
        '200':
          description: JSON business response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenAdCloneAnalyzeEnt'
      description: >-
        > 中文版本: [查看中文文档](/reference/zhopenadcloneanalyze)


        Analyze a source ad video clip and return a prompt plus a reusable video
        segment.
  /openapi/v1/adclone/generate:
    post:
      tags:
        - AdClone
      summary: Generate an ad clone video
      operationId: openAdCloneGenerate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAdCloneGenerateBody'
      responses:
        '200':
          description: JSON business response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenWorkEnt'
      description: >-
        > 中文版本: [查看中文文档](/reference/zhopenadclonegenerate)


        Submit an AdClone generation task using a prompt and source video
        segment.
  /openapi/v1/video/generate:
    post:
      tags:
        - Video
      summary: Generate a video
      description: >-
        > 中文版本: [查看中文文档](/reference/zhopenvideogenerate)


        Asynchronous task. Query status with `/openapi/v1/work/status`; final
        results are delivered by webhook when configured. Model capabilities
        differ by `duration`, `ratio`, `resolution`, and reference media limits.
      operationId: openVideoGenerate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenVideoGenerateBody'
      responses:
        '200':
          description: JSON business response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenWorkEnt'
  /openapi/v1/video/extend:
    post:
      tags:
        - Video
      summary: Extend a video
      description: >-
        > 中文版本: [查看中文文档](/reference/zhopenvideoextend)


        **Only the `seedance-2.0` model base is supported.** Provide either
        `workspace_id` for an internal source video or `video_url` for an
        external source video. `duration` is the number of seconds appended to
        the end of the source video.
      operationId: openVideoExtend
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenVideoExtendBody'
      responses:
        '200':
          description: JSON business response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenWorkEnt'
  /openapi/v1/video/edit:
    post:
      tags:
        - Video
      summary: Edit a video
      description: >-
        > 中文版本: [查看中文文档](/reference/zhopenvideoedit)


        **Only the `seedance-2.0` model base is supported.** Provide either
        `workspace_id` or `video_url`. `mask_url` is optional and enables local
        editing when supported by the model.
      operationId: openVideoEdit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenVideoEditBody'
      responses:
        '200':
          description: JSON business response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenWorkEnt'
  /openapi/v1/video/analyze:
    post:
      tags:
        - Video
      summary: Analyze a video
      operationId: openVideoAnalyze
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenVideoAnalyzeBody'
      responses:
        '200':
          description: JSON business response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenWorkEnt'
      description: |-
        > 中文版本: [查看中文文档](/reference/zhopenvideoanalyze)

        Submit a video analysis task.
  /openapi/v1/video/lipsync:
    post:
      tags:
        - Video
      summary: Lip sync a video
      operationId: openVideoLipSync
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenVideoLipSyncBody'
      responses:
        '200':
          description: JSON business response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenWorkEnt'
      description: |-
        > 中文版本: [查看中文文档](/reference/zhopenvideolipsync)

        Submit a video lip sync task.
  /openapi/v1/video/inpaint:
    post:
      tags:
        - Video
      summary: Remove video watermarks
      operationId: openVideoInpaint
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenVideoInpaintBody'
      responses:
        '200':
          description: JSON business response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenWorkEnt'
      description: |-
        > 中文版本: [查看中文文档](/reference/zhopenvideoinpaint)

        Submit a video watermark removal task.
  /openapi/v1/video/translate:
    post:
      tags:
        - Video
      summary: Translate a video
      operationId: openVideoTranslate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenVideoTranslateBody'
      responses:
        '200':
          description: JSON business response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenWorkEnt'
      description: |-
        > 中文版本: [查看中文文档](/reference/zhopenvideotranslate)

        Submit a video translation task.
  /openapi/v1/video/upscale:
    post:
      tags:
        - Video
      summary: Upscale a video
      operationId: openVideoUpscale
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenVideoUpscaleBody'
      responses:
        '200':
          description: JSON business response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenWorkEnt'
      description: |-
        > 中文版本: [查看中文文档](/reference/zhopenvideoupscale)

        Submit a video upscaling task.
  /openapi/v1/video/character-swap:
    post:
      tags:
        - Video
      summary: Swap a video character
      operationId: openVideoCharacterSwap
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenVideoCharacterSwapBody'
      responses:
        '200':
          description: JSON business response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenWorkEnt'
      description: |-
        > 中文版本: [查看中文文档](/reference/zhopenvideocharacterswap)

        Submit a video character or face swap task.
  /openapi/v1/video/motion-control:
    post:
      tags:
        - Video
      summary: Control video motion
      operationId: openVideoMotionControl
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenVideoMotionControlBody'
      responses:
        '200':
          description: JSON business response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenWorkEnt'
      description: |-
        > 中文版本: [查看中文文档](/reference/zhopenvideomotioncontrol)

        Submit a motion control task for a source video and character reference.
  /openapi/v1/video/subtitle:
    post:
      tags:
        - Video
      summary: Generate video subtitles
      operationId: openVideoSubtitle
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenVideoSubtitleBody'
      responses:
        '200':
          description: JSON business response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenWorkEnt'
      description: |-
        > 中文版本: [查看中文文档](/reference/zhopenvideosubtitle)

        Submit a video subtitle generation task.
  /openapi/v1/work/batch-status:
    post:
      tags:
        - Work
      summary: Batch query async task status
      operationId: openBatchGetWorkStatus
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenBatchGetWorkStatusBody'
      responses:
        '200':
          description: JSON business response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenBatchWorkEnt'
      description: |-
        > 中文版本: [查看中文文档](/reference/zhopenbatchgetworkstatus)

        Query multiple async tasks by `workspace_ids`.
  /openapi/v1/work/status:
    post:
      tags:
        - Work
      summary: Query async task status
      operationId: openGetWorkStatus
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenGetWorkStatusBody'
      responses:
        '200':
          description: JSON business response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenWorkEnt'
      description: |-
        > 中文版本: [查看中文文档](/reference/zhopengetworkstatus)

        Query one async task by `workspace_id`.
  /openapi/v1/persona/status:
    post:
      tags:
        - Persona
      summary: Query Persona status
      operationId: openGetPersonaStatus
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenGetPersonaStatusBody'
      responses:
        '200':
          description: JSON business response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenPersonaEnt'
      description: |-
        > 中文版本: [查看中文文档](/reference/zhopengetpersonastatus)

        Query Persona processing status by `actor_id`.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: >
        在 [www.adsturbo.ai](https://www.adsturbo.ai)
        控制台创建的密钥。调用时在请求头设置：`Authorization: Bearer <your_api_key>`。
  schemas:
    ImageCreateBody:
      type: object
      description: >-
        Create or edit images. `model` is the short model name. If omitted, the
        server defaults to `nanobanana-pro`.

        For text-to-image, send an empty `image_urls` array. For image editing,
        send one or more `image_urls`.


        **Mode support**:

        - Text-to-image only: `grok-2-image`

        - Editing only: `seedream-4.5-seq`, `seedream-5.0-lite-seq`,
        `grok-imagine-image`

        - Text-to-image + editing: `nanobanana-pro`, `nano-banana-2`,
        `nano-banana-2-fast`, `seedream-4.5`, `seedream-5.0-lite`, `gpt-image-2`


        **Model-specific parameters**:

        - Supported `ratio` values vary by model.

        - `resolution` is supported only by `nanobanana-pro`, `nano-banana-2`,
        `nano-banana-2-fast`, and `gpt-image-2`.

        - `quality` is supported only by `gpt-image-2`.

        - `num_images` is supported only by `seedream-4.5-seq` and
        `seedream-5.0-lite-seq`, with a maximum of 15.
      properties:
        prompt:
          type: string
          description: Text prompt for image generation.
        image_urls:
          type: array
          items:
            type: string
          description: Empty for text-to-image. Non-empty for image editing.
        model:
          type: string
          example: nanobanana-pro
          enum:
            - nanobanana-pro
            - nano-banana-2
            - nano-banana-2-fast
            - seedream-4.5
            - seedream-4.5-seq
            - seedream-5.0-lite
            - seedream-5.0-lite-seq
            - gpt-image-2
            - grok-2-image
            - grok-imagine-image
          description: Optional. Defaults to `nanobanana-pro`.
        ratio:
          type: string
          example: '9:16'
          description: Supported values vary by model. See the request body description.
          enum:
            - '1:1'
            - '3:2'
            - '2:3'
            - '3:4'
            - '4:3'
            - '4:5'
            - '5:4'
            - '16:9'
            - '9:16'
            - '21:9'
        resolution:
          type: string
          example: 2k
          description: Supported only by selected models. See the request body description.
          enum:
            - 0.5k
            - 1k
            - 2k
            - 4k
            - 8k
        quality:
          type: string
          description: Supported only by `gpt-image-2`.
          enum:
            - low
            - medium
            - high
        num_images:
          type: integer
          format: int32
          minimum: 1
          maximum: 15
          description: Supported only by `seedream-4.5-seq` and `seedream-5.0-lite-seq`.
        concurrency:
          type: integer
          format: int32
          description: Number of concurrent outputs to generate.
          example: 1
        sync_mod:
          type: boolean
          example: false
    OpenAiActorListBody:
      type: object
      description: >-
        System actor filters and pagination. Filter values are lowercase; spaces
        in English phrases use hyphens.
      properties:
        gender:
          type: array
          items:
            type: string
            enum:
              - female
              - male
        age:
          type: array
          items:
            type: string
            enum:
              - senior
              - adult
              - young-adult
              - kid
        situation:
          type: array
          items:
            type: string
            enum:
              - balcony
              - beach
              - bedroom
              - car
              - coffee-shop
              - grwm
              - home
              - kitchen
              - medical
              - news-anchor
              - office
              - podcast
              - snow
              - studio
        sort_by:
          type: string
        offset:
          type: integer
          format: int32
        limit:
          type: integer
          format: int32
        pose:
          type: array
          items:
            type: string
            enum:
              - arms-crossed
              - cross-legged
              - gesturing
              - leaning
              - leaning-forward
              - legs-crossed
              - pointing
              - reclining
              - sitting
              - standing
        shot_type:
          type: array
          items:
            type: string
            enum:
              - close-up
              - full-shot
              - long-shot
              - medium-close-up
              - medium-full-shot
              - medium-shot
        ethnicity:
          type: array
          items:
            type: string
            enum:
              - asian
              - caucasian
              - african
              - latino
        industry:
          type: array
          description: >-
            Filter by server-side industry category, such as `beauty`,
            `fitness`, or `finance`. Valid values follow the server registry.
          items:
            type: string
    OpenAiActorSayBody:
      type: object
      description: System actor speech synthesis request.
      properties:
        actor_id:
          type: string
        script:
          type: string
        auto_emotion:
          type: boolean
        speed:
          type: number
          format: float
        stability:
          type: number
          format: float
        similarity:
          type: number
          format: float
    OpenAiActorPerformBody:
      type: object
      description: Actor performance request for both system actors and custom Personas.
      properties:
        script:
          type: string
        actor_id:
          type: string
          description: System actor ID or Persona `actor_id`.
        auto_emotion:
          type: boolean
        speed:
          type: number
          format: float
        stability:
          type: number
          format: float
        style:
          type: number
          format: float
        speaker_boost:
          type: boolean
        similarity:
          type: number
          format: float
        callback_id:
          type: string
          description: Custom tracking ID for webhook correlation.
    OpenPersonaCreateBody:
      type: object
      description: Create custom Persona request.
      properties:
        photo_url:
          type: string
        voice_audio_url:
          type: string
          description: Optional audio sample for voice cloning.
        name:
          type: string
        callback_id:
          type: string
          description: Custom tracking ID for webhook correlation.
    OpenPersonaDeleteBody:
      type: object
      description: Delete Persona request.
      properties:
        actor_id:
          type: string
    OpenPersonalListBody:
      type: object
      description: >-
        Paginated list request for personal actors. `offset` and `limit` are
        pagination parameters.
      properties:
        offset:
          type: integer
          format: int32
        limit:
          type: integer
          format: int32
    OpenPersonalListData:
      type: object
      description: Personal actor list and pagination metadata.
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/OpenPersonaData'
        offset:
          type: integer
          format: int32
        more:
          type: boolean
        total:
          type: integer
          format: int32
    OpenAdCloneAnalyzeBody:
      type: object
      description: Analyze a source ad video and generate a prompt.
      properties:
        video_url:
          type: string
          description: Source video URL.
        clip_start:
          type: integer
          format: int32
          minimum: 0
          description: Clip start time in seconds. Must be non-negative.
        clip_end:
          type: integer
          format: int32
          minimum: 0
          description: >-
            Clip end time in seconds. Must be greater than `clip_start`, with a
            maximum clip length of 12 seconds.
    OpenAdCloneGenerateBody:
      type: object
      description: >-
        Submit an AdClone generation task. The response contains an async task
        ID (`workspace_id`).
      properties:
        prompt:
          type: string
          description: Prompt. You can modify the prompt returned by Analyze.
        video_url:
          type: string
          description: Source video segment URL returned by Analyze.
        concurrent:
          type: integer
          format: int32
          minimum: 1
          description: Number of concurrent generations. Must be at least 1.
        callback_id:
          type: string
          description: Custom tracking ID for webhook correlation.
    OpenVideoGenerateBody:
      type: object
      description: >-
        Generate a video. For text-to-video, leave `start_frame`, `end_frame`,
        and `reference_*` empty.

        For image-to-video, use `start_frame` and optionally `end_frame` to
        control first and last frames.

        Multiple reference media are supplied through `reference_images`,
        `reference_videos`, and `reference_audios`.


        Model capability limits vary by model and are validated by the server.
      properties:
        prompt:
          type: string
        model:
          type: string
          example: veo-3.1
          enum:
            - veo-3.1
            - kling-3.0
            - grok
            - seedance-2.0
            - happyhorse-1.0
          description: Short model name. If omitted, the server default is used.
        ratio:
          type: string
          example: '16:9'
          description: Supported values vary by model.
          enum:
            - '16:9'
            - '9:16'
            - '1:1'
            - '4:3'
            - '3:4'
        duration:
          type: integer
          format: int32
          description: Video duration in seconds. Supported values or ranges vary by model.
        resolution:
          type: string
          example: 1080p
          description: Supported only by selected models; values vary by model.
          enum:
            - 720p
            - 1080p
            - 4k
        start_frame:
          type: string
          description: First-frame image URL.
        end_frame:
          type: string
          description: Last-frame image URL.
        reference_images:
          type: array
          items:
            type: string
        reference_videos:
          type: array
          items:
            type: string
        reference_audios:
          type: array
          items:
            type: string
        callback_id:
          type: string
          description: Custom tracking ID for webhook correlation.
        idempotency_key:
          type: string
          description: >-
            Idempotency key. Repeated requests with the same key reuse the same
            task.
    OpenVideoExtendBody:
      type: object
      description: >-
        Extend a video. Provide either `workspace_id` for an internal source
        video or `video_url` for an external source video; sending both or
        neither returns an error.

        `duration` is the number of seconds appended to the source video.


        Only the `seedance-2.0` model base is supported. `duration` ranges from
        4 to 15 seconds, defaulting to 15. `resolution` supports `720p` and
        `1080p`.
      properties:
        workspace_id:
          type: string
        video_url:
          type: string
          description: Source video URL.
        prompt:
          type: string
        duration:
          type: integer
          format: int32
          minimum: 4
          maximum: 15
          description: 'Seconds to append to the source video. Range: 4 to 15. Default: 15.'
        model:
          type: string
          enum:
            - seedance-2.0
          default: seedance-2.0
          description: Only `seedance-2.0` is supported.
        ratio:
          type: string
        resolution:
          type: string
          enum:
            - 720p
            - 1080p
        callback_id:
          type: string
          description: Custom tracking ID for webhook correlation.
        idempotency_key:
          type: string
    OpenVideoEditBody:
      type: object
      description: >-
        Edit a video. Provide either `workspace_id` or `video_url`; sending both
        or neither returns an error.

        `mask_url` is optional and enables local editing when supported by the
        model.


        Only the `seedance-2.0` model base is supported. `resolution` supports
        `720p` and `1080p`.
      properties:
        workspace_id:
          type: string
        video_url:
          type: string
          description: Source video URL.
        prompt:
          type: string
        mask_url:
          type: string
        reference_images:
          type: array
          items:
            type: string
        model:
          type: string
          enum:
            - seedance-2.0
          default: seedance-2.0
          description: Only `seedance-2.0` is supported.
        ratio:
          type: string
        resolution:
          type: string
          enum:
            - 720p
            - 1080p
        callback_id:
          type: string
          description: Custom tracking ID for webhook correlation.
        idempotency_key:
          type: string
    OpenVideoAnalyzeBody:
      type: object
      description: Video analysis task.
      properties:
        video_url:
          type: string
          description: Source video URL.
        workspace_id:
          type: integer
          format: int64
          description: Related workspace ID. Send 0 if not available.
        callback_id:
          type: string
          description: Custom tracking ID for webhook correlation.
    OpenVideoLipSyncBody:
      type: object
      description: Video lip sync task.
      properties:
        avatar_url:
          type: string
        audio_url:
          type: string
        prompt:
          type: string
        callback_id:
          type: string
          description: Custom tracking ID for webhook correlation.
    OpenVideoInpaintBody:
      type: object
      description: Video watermark removal task.
      properties:
        video_url:
          type: string
          description: Source video URL.
        workspace_id:
          type: integer
          format: int64
        callback_id:
          type: string
          description: Custom tracking ID for webhook correlation.
    OpenVideoTranslateBody:
      type: object
      description: Video translation task.
      properties:
        video_url:
          type: string
          description: Source video URL.
        target_lang:
          type: string
          description: Target language.
        workspace_id:
          type: integer
          format: int64
        callback_id:
          type: string
          description: Custom tracking ID for webhook correlation.
    OpenVideoUpscaleBody:
      type: object
      description: Video upscaling task.
      properties:
        video_url:
          type: string
          description: Source video URL.
        workspace_id:
          type: integer
          format: int64
        callback_id:
          type: string
          description: Custom tracking ID for webhook correlation.
    OpenVideoCharacterSwapBody:
      type: object
      description: Video character or face swap task.
      properties:
        video_url:
          type: string
          description: Source video URL.
        image_url:
          type: string
          description: Target face reference image URL.
        workspace_id:
          type: integer
          format: int64
        callback_id:
          type: string
          description: Custom tracking ID for webhook correlation.
    OpenVideoMotionControlBody:
      type: object
      description: Video motion control task.
      properties:
        video_url:
          type: string
          description: Source video URL.
        image_url:
          type: string
        character_orientation:
          type: string
          description: >-
            Character orientation. Use `video` when it should match the source
            video.
        keep_original_sound:
          type: boolean
        negative_prompt:
          type: string
        prompt:
          type: string
        mode:
          type: string
        workspace_id:
          type: integer
          format: int64
        callback_id:
          type: string
          description: Custom tracking ID for webhook correlation.
    OpenVideoSubtitleBody:
      type: object
      description: Video subtitle generation task.
      properties:
        video_url:
          type: string
          description: Source video URL.
        source_language:
          type: string
        translate_language:
          type: string
        subtitle_format:
          type: string
        style_type:
          type: string
        workspace_id:
          type: integer
          format: int64
        callback_id:
          type: string
          description: Custom tracking ID for webhook correlation.
    OpenBatchGetWorkStatusBody:
      type: object
      description: Batch query async task status by `workspace_ids`.
      properties:
        workspace_ids:
          type: array
          items:
            type: string
          description: Workspace IDs to query.
    OpenBatchGetWorkStatusData:
      type: object
      description: Batch async task status response.
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/OpenWorkData'
    OpenGetWorkStatusBody:
      type: object
      description: Query async task status by `workspace_id`.
      properties:
        workspace_id:
          type: string
    OpenGetPersonaStatusBody:
      type: object
      description: Query Persona status by `actor_id`.
      properties:
        actor_id:
          type: string
    ImageCreateData:
      type: object
      description: Image generation result, including image URLs and related task IDs.
      properties:
        images:
          type: array
          items:
            type: string
        workspace_ids:
          type: array
          items:
            type: string
    OpenAiActorSayData:
      type: object
      description: Speech synthesis result.
      properties:
        audio_url:
          type: string
        duration:
          type: integer
          format: int32
    OpenAiActorListData:
      type: object
      description: System actor list and pagination metadata.
      properties:
        infos:
          type: array
          items:
            $ref: '#/components/schemas/OpenAiActorInfo'
        offset:
          type: integer
          format: int32
        more:
          type: boolean
        total:
          type: integer
          format: int32
    OpenAdCloneAnalyzeData:
      type: object
      description: AdClone analysis result.
      properties:
        prompt:
          type: string
          description: Text-to-video prompt generated by AI analysis.
        video_segment_url:
          type: string
          description: Clipped video segment URL.
        duration:
          type: integer
          enum:
            - 4
            - 8
            - 12
          description: 'Clip duration in seconds. Allowed values: 4, 8, or 12.'
    OpenPersonaDeleteData:
      type: object
      description: Delete operation result.
      properties:
        ok:
          type: boolean
    OpenWorkData:
      type: object
      description: Async task status and result summary.
      properties:
        workspace_id:
          type: string
        status:
          type: string
          description: pending / processing / completed / failed
        callback_id:
          type: string
          description: Custom tracking ID for webhook correlation.
        result_type:
          type: string
          enum:
            - video
            - image
            - audio
            - text
            - structured
        result_url:
          type: string
        thumbnail_url:
          type: string
        duration:
          type: number
          format: float
        message:
          type: string
        created_at:
          type: integer
          format: int64
    OpenPersonaData:
      type: object
      description: Custom Persona information.
      properties:
        actor_id:
          type: string
        status:
          type: string
          description: pending / processing / completed / failed
        callback_id:
          type: string
          description: Custom tracking ID for webhook correlation.
        name:
          type: string
        photo_url:
          type: string
        voice_url:
          type: string
        preview_image_url:
          type: string
        preview_video_url:
          type: string
        voices:
          type: array
          items:
            $ref: '#/components/schemas/AiActorVoiceOption'
        message:
          type: string
        created_at:
          type: integer
          format: int64
    ApiSuccessImageCreateEnt:
      type: object
      required:
        - ret
      properties:
        ret:
          type: integer
          example: 1
        msg:
          type: string
        data:
          type: object
          properties:
            ent:
              $ref: '#/components/schemas/ImageCreateData'
    ApiSuccessOpenAiActorListEnt:
      type: object
      required:
        - ret
      properties:
        ret:
          type: integer
          example: 1
        msg:
          type: string
        data:
          type: object
          properties:
            ent:
              $ref: '#/components/schemas/OpenAiActorListData'
    ApiSuccessOpenAiActorSayEnt:
      type: object
      required:
        - ret
      properties:
        ret:
          type: integer
          example: 1
        msg:
          type: string
        data:
          type: object
          properties:
            ent:
              $ref: '#/components/schemas/OpenAiActorSayData'
    ApiSuccessOpenBatchWorkEnt:
      type: object
      required:
        - ret
      properties:
        ret:
          type: integer
          example: 1
        msg:
          type: string
        data:
          type: object
          properties:
            ent:
              $ref: '#/components/schemas/OpenBatchGetWorkStatusData'
    ApiSuccessOpenWorkEnt:
      type: object
      required:
        - ret
      properties:
        ret:
          type: integer
          example: 1
        msg:
          type: string
        data:
          type: object
          properties:
            ent:
              $ref: '#/components/schemas/OpenWorkData'
    ApiSuccessOpenPersonaEnt:
      type: object
      required:
        - ret
      properties:
        ret:
          type: integer
          example: 1
        msg:
          type: string
        data:
          type: object
          properties:
            ent:
              $ref: '#/components/schemas/OpenPersonaData'
    ApiSuccessOpenPersonaDeleteEnt:
      type: object
      required:
        - ret
      properties:
        ret:
          type: integer
          example: 1
        msg:
          type: string
        data:
          type: object
          properties:
            ent:
              $ref: '#/components/schemas/OpenPersonaDeleteData'
    ApiSuccessOpenPersonalListEnt:
      type: object
      required:
        - ret
      properties:
        ret:
          type: integer
          example: 1
        msg:
          type: string
        data:
          type: object
          properties:
            ent:
              $ref: '#/components/schemas/OpenPersonalListData'
    ApiSuccessOpenAdCloneAnalyzeEnt:
      type: object
      required:
        - ret
      properties:
        ret:
          type: integer
          example: 1
        msg:
          type: string
        data:
          type: object
          properties:
            ent:
              $ref: '#/components/schemas/OpenAdCloneAnalyzeData'
    OpenAiActorInfo:
      type: object
      description: System actor information.
      properties:
        id:
          type: integer
          format: int64
        hired_at:
          type: integer
          format: int64
          description: Hire time as Unix seconds.
        actor_id:
          type: string
          description: Actor ID (UUID).
        name:
          type: string
          description: Name.
        age:
          type: string
          description: Age label.
        gender:
          type: string
          description: Gender.
        situation:
          type: array
          items:
            type: string
          description: Scene tags.
        pose:
          type: string
        shot_type:
          type: string
        skin_tone:
          type: string
          description: Skin tone code, from `skin-001` to `skin-006`.
        accessories:
          type: array
          items:
            type: string
          description: Accessories.
        special_for:
          type: array
          items:
            type: string
          description: Subscription tiers this actor is exclusive to.
        preview_url:
          type: string
          description: Compressed preview image URL.
        photo_url:
          type: string
          description: Image template URL to use.
        original_show_off_url:
          type: string
          description: Original showcase video URL.
        show_off_url:
          type: string
          description: Compressed showcase video URL.
        light:
          type: string
          description: Lighting setup.
        audition_audio_url:
          type: string
          description: Audition audio URL.
        score:
          type: integer
          format: int32
          minimum: 0
          maximum: 100
          description: Actor score. Maximum is 100.
        status:
          type: string
          description: pending / processing / completed / failed
        voices:
          type: array
          items:
            $ref: '#/components/schemas/AiActorVoiceOption'
        ethnicity:
          type: string
          description: >-
            Primary ethnicity. Values include `asian`, `caucasian`, `african`,
            and `latino`.
        poses:
          type: array
          description: Historical pose list. `pose` is the primary pose.
          items:
            type: string
        shot_types:
          type: array
          description: Historical shot type list. `shot_type` is the primary shot type.
          items:
            type: string
        industries:
          type: array
          description: Supported industries. Valid values follow the server registry.
          items:
            type: string
    AiActorVoiceOption:
      type: object
      description: Actor voice option.
      properties:
        voice_id:
          type: string
        voice_url:
          type: string
        voice_description:
          type: string
        source:
          type: string
