openapi: 3.0.3
info:
  title: AdsTurbo Open API 中文
  description: >
    AdsTurbo Open API 中文文档，所有接口路径以 `/openapi/v1/` 开头。


    **Reference overview**: [API Overview / API 介绍](/reference/getting-started)


    **Base URL**：`https://www.adsturbo.ai/klian/novartapi`


    **认证**：使用 **HTTP Bearer**（RFC 6750）：请求头 `Authorization: Bearer
    <token>`，`<token>` 为在 [www.adsturbo.ai](https://www.adsturbo.ai) 控制台创建的 API
    Key。


    **请求体**：`Content-Type: application/json`


    **成功响应**：HTTP 200，JSON 格式 `{ "ret": 1, "data": { "ent": <业务数据> } }`


    **业务错误**：HTTP 200，`ret` 不为 1 时见 `msg` 字段说明。
  version: 1.0.0
servers:
  - url: https://www.adsturbo.ai/klian/novartapi
    description: API 服务地址
tags:
  - name: 图片
    description: 图片创作
  - name: 系统演员
    description: 系统演员
  - name: Persona
    description: 自定义 Persona
  - name: AdClone
    description: 视频复刻 AdClone
  - name: 视频
    description: 视频工具
  - name: 任务状态
    description: 异步任务状态
security:
  - bearerAuth: []
paths:
  /openapi/v1/img/create:
    post:
      tags:
        - 图片
      summary: 用户创作图片
      operationId: zhSaasImageCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageCreateBody'
            examples:
              basic:
                summary: 基本示例
                value:
                  prompt: 生成一个亚洲小朋友，骑着一只泰迪狗，狗有翅膀，动漫类型
                  model: nanobanana-pro
                  image_urls: []
                  ratio: '9:16'
                  resolution: 2k
                  concurrency: 1
                  sync_mod: false
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessImageCreateEnt'
      description: '> English version: [View English docs](/reference/saasimagecreate)'
  /openapi/v1/aiactor/list:
    post:
      tags:
        - 系统演员
      summary: 系统演员列表
      operationId: zhOpenAiActorList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAiActorListBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenAiActorListEnt'
      description: '> English version: [View English docs](/reference/openaiactorlist-1)'
  /openapi/v1/aiactor/say:
    post:
      tags:
        - 系统演员
      summary: 系统演员语音生成
      operationId: zhOpenAiActorSay
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAiActorSayBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenAiActorSayEnt'
      description: '> English version: [View English docs](/reference/openaiactorsay-1)'
  /openapi/v1/aiactor/perform:
    post:
      tags:
        - 系统演员
        - Persona
      summary: 演员演出（系统演员或 Persona）
      description: |-
        > English version: [View English docs](/reference/openaiactorperform-1)

        `actor_id` 既可为系统演员 ID，也可为自定义 Persona 的 `actor_id`，共用同一套演出参数与异步任务响应。
      operationId: zhOpenAiActorPerform
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAiActorPerformBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenWorkEnt'
  /openapi/v1/persona/create:
    post:
      tags:
        - Persona
      summary: 创建自定义 Persona
      operationId: zhOpenPersonaCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenPersonaCreateBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenPersonaEnt'
      description: '> English version: [View English docs](/reference/openpersonacreate-1)'
  /openapi/v1/persona/delete:
    post:
      tags:
        - Persona
      summary: 删除自定义 Persona
      operationId: zhOpenPersonaDelete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenPersonaDeleteBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenPersonaDeleteEnt'
      description: '> English version: [View English docs](/reference/openpersonadelete-1)'
  /openapi/v1/persona/list:
    post:
      tags:
        - Persona
      summary: 个人创建演员列表
      description: |-
        > English version: [View English docs](/reference/openpersonallist-1)

        分页查询当前用户创建的个人演员（Persona）列表。
      operationId: zhOpenPersonalList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenPersonalListBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenPersonalListEnt'
  /openapi/v1/adclone/analyze:
    post:
      tags:
        - AdClone
      summary: 视频复刻 — 分析
      operationId: zhOpenAdCloneAnalyze
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAdCloneAnalyzeBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenAdCloneAnalyzeEnt'
      description: '> English version: [View English docs](/reference/openadcloneanalyze-1)'
  /openapi/v1/adclone/generate:
    post:
      tags:
        - AdClone
      summary: 视频复刻 — 生成
      operationId: zhOpenAdCloneGenerate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAdCloneGenerateBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenWorkEnt'
      description: '> English version: [View English docs](/reference/openadclonegenerate-1)'
  /openapi/v1/video/generate:
    post:
      tags:
        - 视频
      summary: 视频生成（文生 / 图生 / 首尾帧 / 多参考媒体）
      description: >-
        > English version: [View English docs](/reference/openvideogenerate)


        异步任务；状态走 `/openapi/v1/work/status`，结果走 webhook。

        `model` 各能力差异以服务端注册表为准（duration / ratio / resolution / reference_*
        上限按模型而定）。
      operationId: zhOpenVideoGenerate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenVideoGenerateBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenWorkEnt'
  /openapi/v1/video/extend:
    post:
      tags:
        - 视频
      summary: 视频延长（在源视频末尾追加 N 秒）
      description: |-
        > English version: [View English docs](/reference/openvideoextend)

        **仅支持 `seedance-2.0` 模型基座**。
        源视频二选一：`workspace_id`（内部）或 `video_url`（外部）；同时传 / 同时空均报错。
        `duration` 为增量秒数：原 8s + duration=4 → 输出 12s。
      operationId: zhOpenVideoExtend
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenVideoExtendBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenWorkEnt'
  /openapi/v1/video/edit:
    post:
      tags:
        - 视频
      summary: 视频编辑
      description: |-
        > English version: [View English docs](/reference/openvideoedit)

        **仅支持 `seedance-2.0` 模型基座**。
        源视频二选一：`workspace_id` 或 `video_url`；同时传 / 同时空均报错。
        `mask_url` 可选；非空时为局部编辑掩码。
      operationId: zhOpenVideoEdit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenVideoEditBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenWorkEnt'
  /openapi/v1/video/analyze:
    post:
      tags:
        - 视频
      summary: 视频拉片
      operationId: zhOpenVideoAnalyze
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenVideoAnalyzeBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenWorkEnt'
      description: '> English version: [View English docs](/reference/openvideoanalyze-1)'
  /openapi/v1/video/lipsync:
    post:
      tags:
        - 视频
      summary: 视频对口型
      operationId: zhOpenVideoLipSync
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenVideoLipSyncBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenWorkEnt'
      description: '> English version: [View English docs](/reference/openvideolipsync-1)'
  /openapi/v1/video/inpaint:
    post:
      tags:
        - 视频
      summary: 视频水印消除
      operationId: zhOpenVideoInpaint
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenVideoInpaintBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenWorkEnt'
      description: '> English version: [View English docs](/reference/openvideoinpaint-1)'
  /openapi/v1/video/translate:
    post:
      tags:
        - 视频
      summary: 视频翻译
      operationId: zhOpenVideoTranslate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenVideoTranslateBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenWorkEnt'
      description: '> English version: [View English docs](/reference/openvideotranslate-1)'
  /openapi/v1/video/upscale:
    post:
      tags:
        - 视频
      summary: 视频超分
      operationId: zhOpenVideoUpscale
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenVideoUpscaleBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenWorkEnt'
      description: '> English version: [View English docs](/reference/openvideoupscale-1)'
  /openapi/v1/video/character-swap:
    post:
      tags:
        - 视频
      summary: 视频换脸
      operationId: zhOpenVideoCharacterSwap
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenVideoCharacterSwapBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenWorkEnt'
      description: >-
        > English version: [View English
        docs](/reference/openvideocharacterswap-1)
  /openapi/v1/video/motion-control:
    post:
      tags:
        - 视频
      summary: 视频动作控制
      operationId: zhOpenVideoMotionControl
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenVideoMotionControlBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenWorkEnt'
      description: >-
        > English version: [View English
        docs](/reference/openvideomotioncontrol-1)
  /openapi/v1/video/subtitle:
    post:
      tags:
        - 视频
      summary: 视频字幕
      operationId: zhOpenVideoSubtitle
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenVideoSubtitleBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenWorkEnt'
      description: '> English version: [View English docs](/reference/openvideosubtitle-1)'
  /openapi/v1/work/batch-status:
    post:
      tags:
        - 任务状态
      summary: 批量查询异步任务状态
      operationId: zhOpenBatchGetWorkStatus
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenBatchGetWorkStatusBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenBatchWorkEnt'
      description: >-
        > English version: [View English
        docs](/reference/openbatchgetworkstatus)
  /openapi/v1/work/status:
    post:
      tags:
        - 任务状态
      summary: 查询异步任务状态
      operationId: zhOpenGetWorkStatus
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenGetWorkStatusBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenWorkEnt'
      description: '> English version: [View English docs](/reference/opengetworkstatus-1)'
  /openapi/v1/persona/status:
    post:
      tags:
        - Persona
      summary: 查询 Persona 状态
      operationId: zhOpenGetPersonaStatus
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenGetPersonaStatusBody'
      responses:
        '200':
          description: JSON 业务响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessOpenPersonaEnt'
      description: >-
        > English version: [View English
        docs](/reference/opengetpersonastatus-1)
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: >
        在 [www.adsturbo.ai](https://www.adsturbo.ai)
        控制台创建的密钥。调用时在请求头设置：`Authorization: Bearer <your_api_key>`。
  schemas:
    ImageCreateBody:
      type: object
      description: >
        图片生成或编辑。`model` 为模型短名称，省略时服务端默认 `nanobanana-pro`。

        文生图：`image_urls` 为空；图片编辑：`image_urls` 非空。


        **模式支持**：

        - 仅文生图：`grok-2-image`

        - 仅编辑：`seedream-4.5-seq`、`seedream-5.0-lite-seq`、`grok-imagine-image`

        - 文生 +
        编辑：`nanobanana-pro`、`nano-banana-2`、`nano-banana-2-fast`、`seedream-4.5`、`seedream-5.0-lite`、`gpt-image-2`


        **参数支持（按模型不同）**：

        - `ratio` 支持值因模型而异：
          - `nanobanana-pro` / `nano-banana-2` / `nano-banana-2-fast`: `16:9` / `1:1` / `9:16` / `21:9` / `2:3` / `3:2`
          - `seedream-4.5` / `seedream-4.5-seq` / `seedream-5.0-lite` / `seedream-5.0-lite-seq`: `16:9` / `1:1` / `9:16` / `2:3` / `3:2`
          - `gpt-image-2`: `1:1` / `3:2` / `2:3` / `3:4` / `4:3` / `4:5` / `5:4` / `9:16` / `16:9` / `21:9`
          - `grok-2-image` / `grok-imagine-image`: 不校验
        - `resolution` 仅以下模型支持，且取值集不同：
          - `nanobanana-pro`: `1k` / `2k` / `4k` / `8k`
          - `nano-banana-2`: `0.5k` / `1k` / `2k` / `4k`
          - `nano-banana-2-fast`: `2k` / `4k`
          - `gpt-image-2`: `1k` / `2k`
        - `quality` 仅 `gpt-image-2` 支持，取值：`low` / `medium` / `high`

        - `num_images` 仅 `seedream-4.5-seq` / `seedream-5.0-lite-seq` 支持，上限 15
      properties:
        prompt:
          type: string
          description: 文生图提示词
        image_urls:
          type: array
          items:
            type: string
          description: |
            文生图时为空数组；编辑时非空。
        model:
          type: string
          example: nanobanana-pro
          enum:
            - nanobanana-pro
            - nano-banana-2
            - nano-banana-2-fast
            - seedream-4.5
            - seedream-4.5-seq
            - seedream-5.0-lite
            - seedream-5.0-lite-seq
            - gpt-image-2
            - grok-2-image
            - grok-imagine-image
          description: 可选。默认 `nanobanana-pro`。
        ratio:
          type: string
          example: '9:16'
          description: 取值集因 model 而异，详见请求体描述。
          enum:
            - '1:1'
            - '3:2'
            - '2:3'
            - '3:4'
            - '4:3'
            - '4:5'
            - '5:4'
            - '16:9'
            - '9:16'
            - '21:9'
        resolution:
          type: string
          example: 2k
          description: >
            仅 `nanobanana-pro` / `nano-banana-2` / `nano-banana-2-fast` /
            `gpt-image-2` 支持；取值集详见请求体描述。
          enum:
            - 0.5k
            - 1k
            - 2k
            - 4k
            - 8k
        quality:
          type: string
          description: 仅 `gpt-image-2` 支持。
          enum:
            - low
            - medium
            - high
        num_images:
          type: integer
          format: int32
          minimum: 1
          maximum: 15
          description: 仅 `seedream-4.5-seq` / `seedream-5.0-lite-seq` 支持，单次输出图片数量。
        concurrency:
          type: integer
          format: int32
          description: 并发数，控制一次性输出的结果数量
          example: 1
        sync_mod:
          type: boolean
          example: false
    OpenAiActorListBody:
      type: object
      description: 系统演员列表筛选与分页；筛选项为小写，英文短语中空格用连字符。
      properties:
        gender:
          type: array
          items:
            type: string
            enum:
              - female
              - male
        age:
          type: array
          items:
            type: string
            enum:
              - senior
              - adult
              - young-adult
              - kid
        situation:
          type: array
          items:
            type: string
            enum:
              - balcony
              - beach
              - bedroom
              - car
              - coffee-shop
              - grwm
              - home
              - kitchen
              - medical
              - news-anchor
              - office
              - podcast
              - snow
              - studio
        sort_by:
          type: string
        offset:
          type: integer
          format: int32
        limit:
          type: integer
          format: int32
        pose:
          type: array
          items:
            type: string
            enum:
              - arms-crossed
              - cross-legged
              - gesturing
              - leaning
              - leaning-forward
              - legs-crossed
              - pointing
              - reclining
              - sitting
              - standing
        shot_type:
          type: array
          items:
            type: string
            enum:
              - close-up
              - full-shot
              - long-shot
              - medium-close-up
              - medium-full-shot
              - medium-shot
        ethnicity:
          type: array
          items:
            type: string
            enum:
              - asian
              - caucasian
              - african
              - latino
        industry:
          type: array
          description: |
            按服务端行业分类过滤（如 `beauty` / `fitness` / `finance` 等）；取值集以服务端注册表为准。
          items:
            type: string
    OpenAiActorSayBody:
      type: object
      description: 系统演员语音合成请求。
      properties:
        actor_id:
          type: string
        script:
          type: string
        auto_emotion:
          type: boolean
        speed:
          type: number
          format: float
        stability:
          type: number
          format: float
        similarity:
          type: number
          format: float
    OpenAiActorPerformBody:
      type: object
      description: 演出任务请求；适用于系统演员与自定义 Persona。
      properties:
        script:
          type: string
        actor_id:
          type: string
          description: 系统演员 ID，或 Persona 的 actor_id
        auto_emotion:
          type: boolean
        speed:
          type: number
          format: float
        stability:
          type: number
          format: float
        style:
          type: number
          format: float
        speaker_boost:
          type: boolean
        similarity:
          type: number
          format: float
        callback_id:
          type: string
          description: 自定义追踪 ID，webhook URL 后台配置
    OpenPersonaCreateBody:
      type: object
      description: 创建自定义 Persona 请求。
      properties:
        photo_url:
          type: string
        voice_audio_url:
          type: string
          description: 可选，用于语音克隆
        name:
          type: string
        callback_id:
          type: string
          description: 自定义追踪 ID，webhook URL 后台配置
    OpenPersonaDeleteBody:
      type: object
      description: 删除 Persona 请求。
      properties:
        actor_id:
          type: string
    OpenPersonalListBody:
      type: object
      description: 个人创建演员列表分页查询；`offset`、`limit` 为分页参数。
      properties:
        offset:
          type: integer
          format: int32
        limit:
          type: integer
          format: int32
    OpenPersonalListData:
      type: object
      description: 个人创建演员列表及分页信息。
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/OpenPersonaData'
        offset:
          type: integer
          format: int32
        more:
          type: boolean
        total:
          type: integer
          format: int32
    OpenAdCloneAnalyzeBody:
      type: object
      description: 视频复刻 — 分析源视频并生成 prompt。
      properties:
        video_url:
          type: string
          description: 源视频 URL
        clip_start:
          type: integer
          format: int32
          minimum: 0
          description: 圈选起始时间（秒，非负）
        clip_end:
          type: integer
          format: int32
          minimum: 0
          description: >-
            圈选结束时间（秒）；须 clip_end > clip_start，且 clip_end - clip_start ≤ 12（片段最长
            12 秒）
    OpenAdCloneGenerateBody:
      type: object
      description: 视频复刻 — 提交生成任务；响应含异步任务 ID（`workspace_id`）。
      properties:
        prompt:
          type: string
          description: prompt（可在 Analyze 返回基础上修改）
        video_url:
          type: string
          description: 源视频片段 URL（Analyze 返回的 video_segment_url）
        concurrent:
          type: integer
          format: int32
          minimum: 1
          description: 并发生成数量（≥1）
        callback_id:
          type: string
          description: 自定义追踪 ID，webhook URL 后台配置
    OpenVideoGenerateBody:
      type: object
      description: >
        视频生成。文生视频时 `start_frame` / `end_frame` / `reference_*` 留空；

        图生视频时通过 `start_frame`（可叠加 `end_frame`）控制首尾帧；多参考媒体由 `reference_images` /
        `reference_videos` / `reference_audios` 携带。


        **各模型规则**（取值集与上限按模型而定，服务端校验为准）：


        | model | duration | resolution | ratio | start/end_frame |
        reference_images | reference_videos | reference_audios | 备注 |

        |---|---|---|---|---|---|---|---|---|

        | `veo-3.1` | 4/6/8（默认 8） | 720p / 1080p / 4k | 16:9 / 9:16 | ≤2 | 无上限 |
        — | — | frame 与 reference 互斥 |

        | `kling-3.0` | 3~15（默认 8） | — | — | ≤2 | ≤1 | — | — | |

        | `grok` | 6/10（默认 6） | — | — | 不支持 | ≤1（作为首帧使用） | — | — | |

        | `seedance-2.0` | 4~15（默认 15） | 720p / 1080p | — | ≤2 | ≤9 | ≤3 | ≤3 |
        frame 与 reference 互斥；audio 需配 image/video |

        | `happyhorse-1.0` | 3~15（默认 5） | 720p / 1080p | 16:9 / 9:16 / 1:1 / 4:3
        / 3:4 | ≤1 | ≤9 | ≤1（有视频时图片改限 ≤5） | — | frame 与 reference 互斥 |
      properties:
        prompt:
          type: string
        model:
          type: string
          example: veo-3.1
          enum:
            - veo-3.1
            - kling-3.0
            - grok
            - seedance-2.0
            - happyhorse-1.0
          description: 模型短名称，省略时走服务端默认。
        ratio:
          type: string
          example: '16:9'
          description: 取值集因 model 而异，详见请求体表格。
          enum:
            - '16:9'
            - '9:16'
            - '1:1'
            - '4:3'
            - '3:4'
        duration:
          type: integer
          format: int32
          description: 视频时长（秒）。取值集 / 范围因 model 而异，详见请求体表格。
        resolution:
          type: string
          example: 1080p
          description: 仅部分模型支持；取值集因 model 而异，详见请求体表格。
          enum:
            - 720p
            - 1080p
            - 4k
        start_frame:
          type: string
          description: 首帧图片 URL
        end_frame:
          type: string
          description: 尾帧图片 URL
        reference_images:
          type: array
          items:
            type: string
        reference_videos:
          type: array
          items:
            type: string
        reference_audios:
          type: array
          items:
            type: string
        callback_id:
          type: string
          description: 自定义追踪 ID，webhook URL 后台配置
        idempotency_key:
          type: string
          description: 幂等键，相同 key 重复请求复用同一任务
    OpenVideoExtendBody:
      type: object
      description: >
        视频延长。源视频二选一：`workspace_id`（内部）或 `video_url`（外部）；同时传 / 同时空均报错。

        `duration` 为增量秒数。


        **仅支持 `seedance-2.0` 模型基座**，不开放其他模型。`duration` 取值范围 4~15（默认
        15），`resolution` 取 `720p` / `1080p`。
      properties:
        workspace_id:
          type: string
        video_url:
          type: string
        prompt:
          type: string
        duration:
          type: integer
          format: int32
          minimum: 4
          maximum: 15
          description: 在源视频末尾追加的秒数；范围 4~15，默认 15。
        model:
          type: string
          enum:
            - seedance-2.0
          default: seedance-2.0
          description: 仅支持 `seedance-2.0`。
        ratio:
          type: string
        resolution:
          type: string
          enum:
            - 720p
            - 1080p
        callback_id:
          type: string
          description: 自定义追踪 ID，webhook URL 后台配置
        idempotency_key:
          type: string
    OpenVideoEditBody:
      type: object
      description: |
        视频编辑。源视频二选一：`workspace_id` 或 `video_url`；同时传 / 同时空均报错。
        `mask_url` 可选；非空时为局部编辑掩码（模型支持度以服务端为准）。

        **仅支持 `seedance-2.0` 模型基座**，不开放其他模型。`resolution` 取 `720p` / `1080p`。
      properties:
        workspace_id:
          type: string
        video_url:
          type: string
        prompt:
          type: string
        mask_url:
          type: string
        reference_images:
          type: array
          items:
            type: string
        model:
          type: string
          enum:
            - seedance-2.0
          default: seedance-2.0
          description: 仅支持 `seedance-2.0`。
        ratio:
          type: string
        resolution:
          type: string
          enum:
            - 720p
            - 1080p
        callback_id:
          type: string
          description: 自定义追踪 ID，webhook URL 后台配置
        idempotency_key:
          type: string
    OpenVideoAnalyzeBody:
      type: object
      description: 视频拉片任务。
      properties:
        video_url:
          type: string
          description: 源视频 URL
        workspace_id:
          type: integer
          format: int64
          description: 关联工作区 ID，无则传 0
        callback_id:
          type: string
          description: 自定义追踪 ID，webhook URL 后台配置
    OpenVideoLipSyncBody:
      type: object
      description: 视频对口型任务。
      properties:
        avatar_url:
          type: string
        audio_url:
          type: string
        prompt:
          type: string
        callback_id:
          type: string
          description: 自定义追踪 ID，webhook URL 后台配置
    OpenVideoInpaintBody:
      type: object
      description: 视频水印消除任务。
      properties:
        video_url:
          type: string
        workspace_id:
          type: integer
          format: int64
        callback_id:
          type: string
          description: 自定义追踪 ID，webhook URL 后台配置
    OpenVideoTranslateBody:
      type: object
      description: 视频翻译任务。
      properties:
        video_url:
          type: string
        target_lang:
          type: string
          description: 目标语言
        workspace_id:
          type: integer
          format: int64
        callback_id:
          type: string
          description: 自定义追踪 ID，webhook URL 后台配置
    OpenVideoUpscaleBody:
      type: object
      description: 视频超分任务。
      properties:
        video_url:
          type: string
        workspace_id:
          type: integer
          format: int64
        callback_id:
          type: string
          description: 自定义追踪 ID，webhook URL 后台配置
    OpenVideoCharacterSwapBody:
      type: object
      description: 视频换脸任务。
      properties:
        video_url:
          type: string
        image_url:
          type: string
          description: 目标人脸参考图 URL
        workspace_id:
          type: integer
          format: int64
        callback_id:
          type: string
          description: 自定义追踪 ID，webhook URL 后台配置
    OpenVideoMotionControlBody:
      type: object
      description: 视频动作控制任务。
      properties:
        video_url:
          type: string
        image_url:
          type: string
        character_orientation:
          type: string
          description: 角色朝向，默认与视频一致时可传 video
        keep_original_sound:
          type: boolean
        negative_prompt:
          type: string
        prompt:
          type: string
        mode:
          type: string
        workspace_id:
          type: integer
          format: int64
        callback_id:
          type: string
          description: 自定义追踪 ID，webhook URL 后台配置
    OpenVideoSubtitleBody:
      type: object
      description: 视频字幕任务。
      properties:
        video_url:
          type: string
        source_language:
          type: string
        translate_language:
          type: string
        subtitle_format:
          type: string
        style_type:
          type: string
        workspace_id:
          type: integer
          format: int64
        callback_id:
          type: string
          description: 自定义追踪 ID，webhook URL 后台配置
    OpenBatchGetWorkStatusBody:
      type: object
      description: 批量按 `workspace_ids` 查询异步任务状态。
      properties:
        workspace_ids:
          type: array
          items:
            type: string
    OpenBatchGetWorkStatusData:
      type: object
      description: 批量异步任务状态返回。
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/OpenWorkData'
    OpenGetWorkStatusBody:
      type: object
      description: 按 `workspace_id` 查询异步任务状态。
      properties:
        workspace_id:
          type: string
    OpenGetPersonaStatusBody:
      type: object
      description: 按 `actor_id` 查询 Persona 状态。
      properties:
        actor_id:
          type: string
    ImageCreateData:
      type: object
      description: 图片生成结果（图片 URL 与关联任务 ID）。
      properties:
        images:
          type: array
          items:
            type: string
        workspace_ids:
          type: array
          items:
            type: string
    OpenAiActorSayData:
      type: object
      description: 语音合成结果。
      properties:
        audio_url:
          type: string
        duration:
          type: integer
          format: int32
    OpenAiActorListData:
      type: object
      description: 系统演员列表与分页信息。
      properties:
        infos:
          type: array
          items:
            $ref: '#/components/schemas/OpenAiActorInfo'
        offset:
          type: integer
          format: int32
        more:
          type: boolean
        total:
          type: integer
          format: int32
    OpenAdCloneAnalyzeData:
      type: object
      description: 视频复刻分析结果。
      properties:
        prompt:
          type: string
          description: AI 分析生成的文生视频 prompt
        video_segment_url:
          type: string
          description: 截取的视频片段 URL
        duration:
          type: integer
          enum:
            - 4
            - 8
            - 12
          description: 片段时长（秒），仅允许 4、8、12
    OpenPersonaDeleteData:
      type: object
      description: 删除操作是否成功。
      properties:
        ok:
          type: boolean
    OpenWorkData:
      type: object
      description: 异步任务状态与结果摘要。
      properties:
        workspace_id:
          type: string
        status:
          type: string
          description: pending / processing / completed / failed
        callback_id:
          type: string
        result_type:
          type: string
          enum:
            - video
            - image
            - audio
            - text
            - structured
        result_url:
          type: string
        thumbnail_url:
          type: string
        duration:
          type: number
          format: float
        message:
          type: string
        created_at:
          type: integer
          format: int64
    OpenPersonaData:
      type: object
      description: 自定义 Persona 信息。
      properties:
        actor_id:
          type: string
        status:
          type: string
          description: pending / processing / completed / failed
        callback_id:
          type: string
        name:
          type: string
        photo_url:
          type: string
        voice_url:
          type: string
        preview_image_url:
          type: string
        preview_video_url:
          type: string
        voices:
          type: array
          items:
            $ref: '#/components/schemas/AiActorVoiceOption'
        message:
          type: string
        created_at:
          type: integer
          format: int64
    ApiSuccessImageCreateEnt:
      type: object
      required:
        - ret
      properties:
        ret:
          type: integer
          example: 1
        msg:
          type: string
        data:
          type: object
          properties:
            ent:
              $ref: '#/components/schemas/ImageCreateData'
    ApiSuccessOpenAiActorListEnt:
      type: object
      required:
        - ret
      properties:
        ret:
          type: integer
          example: 1
        msg:
          type: string
        data:
          type: object
          properties:
            ent:
              $ref: '#/components/schemas/OpenAiActorListData'
    ApiSuccessOpenAiActorSayEnt:
      type: object
      required:
        - ret
      properties:
        ret:
          type: integer
          example: 1
        msg:
          type: string
        data:
          type: object
          properties:
            ent:
              $ref: '#/components/schemas/OpenAiActorSayData'
    ApiSuccessOpenBatchWorkEnt:
      type: object
      required:
        - ret
      properties:
        ret:
          type: integer
          example: 1
        msg:
          type: string
        data:
          type: object
          properties:
            ent:
              $ref: '#/components/schemas/OpenBatchGetWorkStatusData'
    ApiSuccessOpenWorkEnt:
      type: object
      required:
        - ret
      properties:
        ret:
          type: integer
          example: 1
        msg:
          type: string
        data:
          type: object
          properties:
            ent:
              $ref: '#/components/schemas/OpenWorkData'
    ApiSuccessOpenPersonaEnt:
      type: object
      required:
        - ret
      properties:
        ret:
          type: integer
          example: 1
        msg:
          type: string
        data:
          type: object
          properties:
            ent:
              $ref: '#/components/schemas/OpenPersonaData'
    ApiSuccessOpenPersonaDeleteEnt:
      type: object
      required:
        - ret
      properties:
        ret:
          type: integer
          example: 1
        msg:
          type: string
        data:
          type: object
          properties:
            ent:
              $ref: '#/components/schemas/OpenPersonaDeleteData'
    ApiSuccessOpenPersonalListEnt:
      type: object
      required:
        - ret
      properties:
        ret:
          type: integer
          example: 1
        msg:
          type: string
        data:
          type: object
          properties:
            ent:
              $ref: '#/components/schemas/OpenPersonalListData'
    ApiSuccessOpenAdCloneAnalyzeEnt:
      type: object
      required:
        - ret
      properties:
        ret:
          type: integer
          example: 1
        msg:
          type: string
        data:
          type: object
          properties:
            ent:
              $ref: '#/components/schemas/OpenAdCloneAnalyzeData'
    OpenAiActorInfo:
      type: object
      description: 系统演员信息
      properties:
        id:
          type: integer
          format: int64
        hired_at:
          type: integer
          format: int64
          description: 雇佣时间（Unix 秒）
        actor_id:
          type: string
          description: 演员 ID（uuid）
        name:
          type: string
          description: 名字
        age:
          type: string
          description: 年龄标签
        gender:
          type: string
          description: 性别
        situation:
          type: array
          items:
            type: string
          description: 场景
        pose:
          type: string
        shot_type:
          type: string
        skin_tone:
          type: string
          description: 肤色编码，取值 skin-001 ~ skin-006
        accessories:
          type: array
          items:
            type: string
          description: 物品
        special_for:
          type: array
          items:
            type: string
          description: 订阅用户分级别专属
        preview_url:
          type: string
          description: 前端预览图片 URL（已压缩）
        photo_url:
          type: string
          description: 具体要使用的图片模板 URL
        original_show_off_url:
          type: string
          description: 前端展示视频 URL（原始）
        show_off_url:
          type: string
          description: 前端展示视频 URL（已压缩）
        light:
          type: string
          description: 灯光设定
        audition_audio_url:
          type: string
          description: 试镜音频链接
        score:
          type: integer
          format: int32
          minimum: 0
          maximum: 100
          description: 演员评分，满分 100
        status:
          type: string
        voices:
          type: array
          items:
            $ref: '#/components/schemas/AiActorVoiceOption'
        ethnicity:
          type: string
          description: 主要族裔；取值 `asian` / `caucasian` / `african` / `latino`
        poses:
          type: array
          description: 历史姿态列表（`pose` 为主姿态）
          items:
            type: string
        shot_types:
          type: array
          description: 历史镜头类型列表（`shot_type` 为主镜头类型）
          items:
            type: string
        industries:
          type: array
          description: 适配行业；取值集以服务端注册表为准
          items:
            type: string
    AiActorVoiceOption:
      type: object
      description: 演员语音选项
      properties:
        voice_id:
          type: string
        voice_url:
          type: string
        voice_description:
          type: string
        source:
          type: string
